  <nav>
   <a href="/">Main Stage</a> 
    <!-- If the user is logged in, show a logout button -->
    {{#if logged_in}}
    <button id="logout-btn" >Logout</button>
    {{else}}
    <!-- Otherwise, show a link to login -->
    <a href="/login">Login</a>
    {{/if}}
    {{!-- {{#unless (req.path === '/backstage') }} --}}
    <a href="/spotify">Back Stage</a>
    {{!-- {{/unless}} --}}
      {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  </nav>