{{#each songs as |song|}}

<li>{{song.title}} by {{song.artist}} <a href=""><span>📣 Send to Main Stage</span></a></li>
{{/each}}

<section>
  <aside>

<div class="pic">
  <img src="https://i.scdn.co/image/ab67616d0000b27390ef9760e57fafd8f966d17a" style="height:100px; width: 100px" />
  <p> Artist: 1976</p>
  <p>Song Title</p>
</div>
  </aside>
</section>