<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Venue</title>
  <script src="https://kit.fontawesome.com/febb1adf06.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Share+Tech+Mono&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div id="hero">
    <div id="title">
      The Venue
    </div>
    <div id="heroSub">Argue with your friends and complete strangers about the music you love</div>
  </div>
    <nav>
    <a href="/">Main Stage</a>
    <!-- If the user is logged in, show a logout button -->
    {{#if logged_in}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <!-- Otherwise, show a link to login -->
    <a href="/login">Login</a>
    {{/if}}
    <a href="/profile">Back Stage</a>
  </nav>
  <main>

    {{{body}}}


</main>
 <!-- If the user is logged in, load the JS script for when they logout -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>


</html>
