<div id="backstage">
  <h3>This is the Backstage section</h3>
  <div id="groupieHero"></div>
  <div>
    <h3>Groupie: {{{Username}}}</h3>
    {{!-- <h4>{{{Playlist Name}}}</h4>
    <ul id="playlist">
      {{> playlist_song}} --}}

    </ul>
  </div>
</div>
<script src="./js/profile.js"></script>
