<section id="login">
  <h2>This is the login section</h2>
  <div class="row">
    <img src="./public/assets/bouncer.jpg" alt="bouncer">
    <div>
      <h2>Security Checkpoint</h2>
      <p>No cover charge, but you need to be on the guest list to enter</p>
    </div>
  </div>
  <form action="./controllers/api/users">
    <h3>Login</h3>
    <label for="login_email">Email</label>
    <input type="email" name="login_email">
    <label for="login_pwd">Password</label>
    <input type="password" name="login_pwd">
    <input type="submit" value="Submit">
  </form>
  <form action="./controllers/api/users">
    <h3>Signup</h3>
    <label for="signup_email">Email</label>
    <input type="email" name="login_email">
    <label for="signup_pwd">Password</label>
    <input type="password" name="login_pwd">
    <label for="signup_pwd_confirm">Confirm Password</label>
    <input type="password" name="signup_pwd_confirm">
    <input type="submit" value="Submit">
  </form>
</section>
