{{> nav}}
<h2>This is the Main Stage section</h2>
<section>
  <table>
    <thead>
      <td>Song</td>
      <td>Artist</td>
      <td>Post</td>
      <td>Comments</td>
    </thead>
    <tbody>
      {{> blogpost_list}}
    </tbody>
  </table>
</section>
