{{> nav}}
<h1>Welcome to the Main Stage</h1>
{{!-- <section>
  <table>
    <thead>
      <td>Song</td>
      <td>Artist</td>
      <td>Groupie</td>
      <td>Post Title</td>
      <td>Post Content</td>
      <td>Comments</td>
    </thead>
    <tbody>
      {{> postlist_onmain}}
    </tbody>
  </table>
</section>
<section class="card no-wrap space-evenly align-center">
  <span>some stuff</span><span>more stuff</span><span>Longer Stuff goes here I think</span><span>small</span><button>join in</button>
</section> --}}
{{> postlist_onmain}}


{{!-- post.id --}}
{{!-- post.name --}}
{{!-- post.description --}}
{{!-- post.track_name --}}
{{!-- post.artists_name --}}
{{!-- post.album_name --}}
{{!-- post.playlist_name --}}
{{!-- post.image --}}